<aside class="filters">
  <form id="filtersForm" method="GET" action="/characters" class="filters__form">
    <div class="filtersContainer">
      <section class="filters__section">
        <div class="filters__title">Cerca</div>
        <input type="text" name="character_mal_id" value="{{filters.character_mal_id}}" placeholder="Spike Spiegel"
          class="filters__input" />
      </section>

      <section class="filters__section">
        <div class="filters__title">Ordina</div>
        <select name="sort" class="filters__select">
          {{#each filters.sortOptions}}
          <option value="{{this.value}}" {{#if this.selected}}selected{{/if}}>
            {{this.label}}
          </option>
          {{/each}}
        </select>
      </section>

      <section class="filters__section">
        <div class="filters__title">Nome</div>
        <label class="filters__check">
          <input type="checkbox" name="hasKanji" value="1" {{#if filters.hasKanji}}checked{{/if}}>
          Con giapponese
        </label>
        <label class="filters__check">
          <input type="checkbox" name="noKanji" value="1" {{#if filters.noKanji}}checked{{/if}}>
          Senza giapponese
        </label>
      </section>
    </div>

    {{!-- Azioni --}}
    <section class="filters__actions">
      <button type="submit" class="filters__btn filters__btn--apply">Applica</button>
      <a href="/characters" class="filters__btn filters__btn--reset">Reset</a>
    </section>
  </form>
</aside>