{{#each items}}
<div class="card">
  <a href="/staff/{{this.person_mal_id}}">
    <img src="{{this.image_url}}" alt="{{this.name}}">
    <div class="card-body">
      <p>{{this.name}}</p>
    </div>
  </a>
</div>
{{/each}}