<div class="hero">
  <h2>hero</h2>
  <div class="hero-description">
    <p>Explore a vast collection of anime, each with unique stories and characters that captivate audiences worldwide.</p>
  </div>
</div>